<html lang="en-US"><head>
</head>
<body class="page-template-default page page-id-65 custom-background wp-embed-responsive site-layout-fluid global-layout-right-sidebar pagelayer-body">
<div id="page" class="container hfeed site">
  <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
  <div id="tophead">
    <div class="container">
      <div id="quick-contact">
        <ul>
          <li class="quick-call"><a href="tel:919488666733"><i class="fas fa-phone-alt"></i> +91 9488666733</a></li>
          <li class="quick-email"><a href="mailto:alnafiseducation@gmail.com"><i class="fas fa-envelope"></i> alnafiseducation@gmail.com</a></li>
        </ul>
      </div>
      <div class="quick-links">
        <a href="#" class="links-btn">Quick Links</a>
        <ul id="menu-home" class="menu">
          <li id="menu-item-315" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-315"><a href="/">Home</a></li>
          <li id="menu-item-316" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-316"><a href="/about_us">About Us</a></li>
          <li id="menu-item-318" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-65 current_page_item menu-item-318"><a href="/enquiry/" aria-current="page">Enquiry</a></li>
          <li id="menu-item-320" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-320"><a href="/service/">Services</a></li>
          <li id="menu-item-317" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-317"><a href="/contact/">Contact</a></li>
          <li id="menu-item-327" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-327"><a href="http://www.alnafistravels.in/">Alnafis Travels</a></li>
        </ul>
      </div>
      <div class="header-social-wrapper">
        <div class="widget education_hub_widget_social"></div>
      </div>
      <!-- .header-social-wrapper -->
    </div>
    <!-- .container -->
  </div>
  <!--  #tophead -->
  <header id="masthead" class="site-header" role="banner">
    <div class="container">
      <div class="site-branding">
        <div id="site-identity">
          <p class="site-title"><a href="/" rel="home">                               Alnafis Education</a></p>
          <p class="site-description">                               Educational Consultancy</p>
        </div>
        <!-- #site-identity -->
      </div>
      <!-- .site-branding -->
    </div>
    <!-- .container --></header>
  <!-- #masthead -->
  <div id="main-nav" class="clear-fix">
    <div class="container">
      <nav id="site-navigation" class="main-navigation" role="navigation">
        <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false"><i class="fa fa-bars"></i>
          Menu</button>
        <div class="wrap-menu-content">
          <div class="menu-home-container">
            <ul id="primary-menu" class="menu">
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-315"><a href="/">Home</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-316"><a href="/about_us">About Us</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-65 current_page_item menu-item-318"><a href="/enquiry/" aria-current="page">Enquiry</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-320"><a href="/service/">Services</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-317"><a href="/contact/">Contact</a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-327"><a href="http://www.alnafistravels.in/">Alnafis Travels</a></li>
            </ul>
          </div>
        </div>
        <!-- .menu-content -->
      </nav><!-- #site-navigation -->
    </div>
    <!-- .container -->
  </div>
  <!-- #main-nav -->
  <div id="content" class="site-content">
    <div class="container">
      <div class="inner-wrapper">
        <div id="primary" class="content-area">
          <main id="main" class="site-main" role="main">
            <article id="post-65" class="post-65 page type-page status-publish hentry">
              <header class="entry-header">
                <h1 class="entry-title">Enquiry</h1>
              </header>
              <!-- .entry-header -->
              <div class="entry-content">
                <div role="form" class="wpcf7" id="wpcf7-f5-p65-o1" lang="en-US" dir="ltr">
                  <div class="screen-reader-response">
                    <p role="status" aria-live="polite" aria-atomic="true"></p>
                    <ul></ul>
                  </div>
                  <% flash.each do |type, msg| %>
                    <div class="alert alert-<%= type %>" >
                      <%= msg %>
                    </div>
                  <% end %>
                  <%= form_for @message, url: '/message/create', html: {class: "wpcf7-form init" } do |form| %>
                    <form action="/enquiry/#wpcf7-f5-p65-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
                      <div style="display: none;">
                        <input type="hidden" name="_wpcf7" value="5">
                        <input type="hidden" name="_wpcf7_version" value="5.3.2">
                        <input type="hidden" name="_wpcf7_locale" value="en_US">
                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5-p65-o1">
                        <input type="hidden" name="_wpcf7_container_post" value="65">
                        <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                      </div>
                      <p><label> Your Name (required)<br>
                        <span class="wpcf7-form-control-wrap your-name"><%= form.text_field :name, class: "wpcf7-form-control wpcf7-text wpcf7-validates-as-required" %></span> </label></p>
                      <p><label> Your Email<br>
                        <span class="wpcf7-form-control-wrap your-email"><%= form.email_field :email, class: "wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" %></span> </label></p>
                      <p><label> Your Mobile No. (required)<br>
                        <span class="wpcf7-form-control-wrap tel-388"><%= form.telephone_field :number, class:"wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel", size:"40"  %></span> </label></p>
                      <p><label> Subject<br>
                        <span class="wpcf7-form-control-wrap your-subject"><%= form.text_field :subject, class:"wpcf7-form-control wpcf7-text" %></span> </label></p>
                      <p><label> Your Message<br>
                        <span class="wpcf7-form-control-wrap your-message">
                                <%= form.text_area :message, rows: "10",cols: "40", class:"wpcf7-form-control wpcf7-textarea" %>
                              </span> </label></p>
                      <p><%= form.submit "Submit" , class:"wpcf7-form-control wpcf7-submit" %></p>
                      <div class="wpcf7-response-output" aria-hidden="true"></div>
                  <% end %>
                  </form>
              </div>
              <!-- .entry-content -->
              <footer class="entry-footer">
              </footer>
              <!-- .entry-footer -->
            <!-- #post-## --><!-- #main -->
        </div>
        <!-- #primary -->
        <div id="sidebar-primary" class="widget-area" role="complementary">
          <aside id="search-2" class="widget widget_search">
            <form role="search" method="get" class="search-form" action="/">
              <label>
                <span class="screen-reader-text">Search for:</span>
                <input type="search" class="search-field" placeholder="Search..." value="" name="s" title="Search for:">
              </label>
              <input type="submit" class="search-submit" value="Search">
            </form>
          </aside>
          <aside id="recent-posts-2" class="widget widget_recent_entries">
            <h2 class="widget-title">Recent Posts</h2>
            <ul>
              <li>
                <a href="/2021/12/20/most-desirable-10-greatest-kid-backpacking-backpacks-found-at-2021-research/">Most desirable 10 Greatest Kid Backpacking Backpacks Found at 2021 Research</a>
              </li>
              <li>
                <a href="/2021/12/20/mbbs-admission-start-tamil-nadu/">MBBS ADMISSION START TAMIL NADU.</a>
              </li>
              <li>
                <a href="/2021/12/20/use-of-force-that-is-being-controlled-by-the-international-law-at-this-present-time-is-out-of-date-and-changes-need-to-be-carried-out-force-in/">Use of force that is being controlled by the international law at this present time is out of date and changes need to be carried out Force in</a>
              </li>
              <li>
                <a href="/2021/12/20/college-entrance-essay-writer-service/">College Entrance Essay Writer Service</a>
              </li>
              <li>
                <a href="/2021/12/19/education-is-more-important-than-money-essay-on-eduwritemyessay-com/">Education Is More Important Than Money Essay on eduwritemyessay.com</a>
              </li>
            </ul>
          </aside>
          <aside id="categories-2" class="widget widget_categories">
            <h2 class="widget-title">Categories</h2>
            <ul>
              <li class="cat-item cat-item-6"><a href="/category/blog/">blog</a>
              </li>
              <li class="cat-item cat-item-1"><a href="/category/news/">News</a>
              </li>
            </ul>
          </aside>
        </div>
        <!-- #sidebar-primary -->



  <!-- #content -->
            </article>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>
</body></html>
